$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background-color: black;
  padding-top: 70px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.btn-lg {
  margin-right: 30px ;
  text-align: center;

}

.jumbotron {
  margin: 0 auto ;
  text-align: center;
  margin-bottom:20px;
  color: white;
  background-color: rgba(0,0,0,.5);
  border: 0 ;
}
.jumbotron h1 {
  font-family: 'Raleway', sans-serif;
  color:rgba(70,144,255,1)
}

blockquote {
  border-left: 5px solid rgba(0,0,0,.5);

}

blockquote footer {
  color:white;
  text-size: 1.5em;

}

.background-image {
  background: url('https://s-media-cache-ak0.pinimg.com/736x/c7/f2/70/c7f2708fd7b8d98a1b84f00330229b4c.jpg');
}


.landing-image {
  height:100%;
  width:100%;

}


.panel {
  width: 70%;

  margin:0 auto;
  text-align: center;
}

.minipanel {
  width: 50%;
  margin:0 auto;
  text-align: center;
  float:left;
}

.launch {
  margin-bottom:20%;
}

// Thumbnail Sizing

.thumbnail-image{
  height: 100%;
  width: 100%;

}
